.selected{
    scale: 1.3;
    box-shadow: 0 0 5px gray;
    border: 2px black solid !important;
}
.selected-brand{
    background-color: gray !important;
    color: white !important;
}
.selected-size{
    background-color: gray !important;
    color: white !important;
}